{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="search-block">
    <form method="GET" action="{% url 'developers' %}">
        <input class="search-bar" type="text" name="search-query" placeholder="Search Developers" value="{{ search }}">
        <button class="search-button" type="submit">
            <span class="icon">
                <i class="fas fa-search"></i>
            </span>
        </button>
    
</div>
<div class="sort-block">   
    <form method="GET" action="{% url 'developers' %}">
        <label for="sort-criteria">Sort by:</label>
        <select class="sort-criteria" id="sort-criteria" name="sort-criteria" onchange="this.form.submit()" >
            <option style="display:none">{{ sort }}</option>
            <option value="Profile Name (ascending)">Profile Name (ascending)</option>
            <option value="-Profile Name (descending)">Profile Name (descending)</option>
            <option value="Price (ascending)">Price (ascending)</option>
            <option value="Price (descending)">Price (descending)</option>
            <option value="Purchase Count (ascending)">Purchase Count (ascending)</option>
            <option value="Purchase Count (descending)">Purchase Count (descending)</option>
        </select> 
        <button class="sort-clear" type="submit" name="sort-clear">
            <span class="icon">
                <i class="fa-solid fa-x"></i>
            </span>
        </button>
    </form>
</div>

<!-- Section containing a list of all Developers -->
<div class="developer-section">    

    {% for developer in developers %}  
        <!-- Block containing a Developer's data -->
        <div class="developer-block">

            <!-- Developer's Profile Name, First & Last name, and Price -->
            <div class="profile-names-price">
                <div class="profile-name-category">
                    <div class="profile-name">
                        <p>{{ developer.profile_name }}</p>
                    </div>
                    <div class="profile-category">
                        <p>({{ developer.category.friendly_name }})</p>
                    </div>
                    <p class="profile-sold">Sold: {{ developer.count_sold }}</p>
                    
                </div>

                <div class="profile-price">
                    <p>£{{ developer.price }}</p>
                </div>
                
            </div>

            <!-- Developer's Profile Image, and Description -->
            <div class="profile-image-description">
                <div class="profile-image">                    
                    {% if developer.image_url != None %}
                        <img src="{{ developer.image_url }}" alt="{{ developer.image_url }}">
                    {% else %}
                        <img src="https://support-dev-images.s3.eu-west-2.amazonaws.com/no-image.jpg" alt="-- NO IMAGE --">
                    {% endif %}
                </div>

                <div class="profile-description">{{ developer.description }}</div>

            </div>

            <!-- Buttons to Purchase the Profile, or View if already purchased -->
            <div class="profile-purchase-view">
                
                <div class="profile-view">
                    <a href="{% url 'developer_profile' developer.id %}">
                        <p>View Profile</p>
                    </a>
                </div>

            </div>
            
        </div>
    {% empty %}

        <h3 class="search-empty">No Developer Profiles matched your search criteria.</h3>

    {% endfor %}
    
</div>

{% endblock %}