{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="full-profile">

    <div class="full-profile-image">                    
        {% if developer.image_url != None %}
        <img src="{{ developer.image_url }}" alt="{{ developer.image_url }}">
        {% else %}
        <img src="https://support-dev-images.s3.eu-west-2.amazonaws.com/no-image.jpg" alt="-- NO IMAGE --">
        {% endif %}
    </div>    


    <div class="full-profile-names">
        <div class="full-profile-name">
            <p>{{ developer.profile_name }}</p>
        </div>
        <div class="full-profile-category">
            <p>({{ developer.category.friendly_name }})</p>
        </div>
    </div>

    

    <div class="full-profile-description">{{ developer.description }}</div>   

    <!-- Buttons to Purchase the Access--> 
    <div class="fixed-purchase-container">
        <div class="full-profile-price">
            <p>£{{ developer.price }}</p>
        </div>
        <div class="full-profile-purchase">
            <a href="">
                <p>Purchase Access</p>
            </a>
        </div>
    </div>  
    
    <div class="profile-posts">
        {% for post in posts %}

        <div class="post-block">

            <div class="post-image">                    
                {% if post.image_url != None %}
                <img src="{{ post.image_url }}" alt="{{ post.image_url }}">
                {% else %}
                <img src="https://support-dev-images.s3.eu-west-2.amazonaws.com/no-image.jpg" alt="-- NO IMAGE --">
                {% endif %}
            </div>    
        
            <div class="post-title">
                <p>{{ post.title }}</p>
            </div>

            <div class="post-date">
                <p>- published: {{ post.publish_date }} -</p>
            </div>      
            
            <div class="post-content">{{ post.content }}</div>

        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}