{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid text-center bg-primary py-1 m-0"> 
    <form class="row justify-content-center" method="GET" action="{% url 'developers' %}">
        <div class="col-9 col-md-5 col-xl-4 m-1 p-1">
            <input class="form-control" type="text" name="search-query" id="search-criteria" placeholder="Search Developers: " value="{{ search }}">                       
        </div>

        <div class="col-9 col-md-5 col-xl-4 col-xxl-3 m-1 p-1">
            <select class="form-select fomr-select-sm" id="sort-criteria" name="sort-criteria" onchange="this.form.submit()">
                <option value="" disabled selected hidden>Sort: {{ sort }}</option>
                <option value=""></option>
                <option value="Profile Name (ascending)">Profile Name (ascending)</option>
                <option value="Profile Name (descending)">Profile Name (descending)</option>
                <option value="Price (ascending)">Price (ascending)</option>
                <option value="Price (descending)">Price (descending)</option>
                <option value="Purchase Count (ascending)">Purchase Count (ascending)</option>
                <option value="Purchase Count (descending)">Purchase Count (descending)</option>
            </select>
        </div>
    </form>
</div>

<!-- Section containing a list of all Developers -->
<div class="developer-section">    

<!-- Pagination links and page numbers -->
{% if developers|length > 6 %} 
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endif %} 

    {% for developer in page_obj %}  
        <!-- Block containing a Developer's data -->
        <div class="developer-block">
            <!-- Developer's Profile Name, First & Last name, and Price -->
            <div class="profile-names-price">
                <div class="profile-name-category">
                    <div class="profile-name">
                        <p>{{ developer.profile_name }}</p>
                    </div>
                    <div class="profile-category">
                        <p>({{ developer.category.friendly_name }})</p>
                    </div>
                    <p class="profile-sold">Sold: {{ developer.count_sold }}</p>
                    
                </div>

                <div class="profile-price">
                    <p>£{{ developer.price }}</p>
                </div>
                
            </div>

            <!-- Developer's Profile Image, and Description -->
            <div class="profile-image-description">
                <div class="profile-image">                    
                    {% if developer.image %}
                        <img src="{{ developer.image.url }}" alt="{{ developer.image.url }}">
                    {% else %}
                        <img src="{{ MEDIA_URL }}no-image.jpg" alt="-- NO IMAGE --">
                    {% endif %}
                </div>

                <div class="profile-description">{{ developer.description }}</div>

            </div>

            <!-- Buttons to Purchase the Profile, or View if already purchased -->
            <div class="profile-purchase-view">
                
                <div class="profile-view">
                    <a href="{% url 'developer_profile' developer.id %}">
                        <p>View Profile</p>
                    </a>
                </div>

            </div>
            
        </div>
    {% empty %}

        <h3 class="search-empty">No Developer Profiles matched your search criteria.</h3>

    {% endfor %}
    
</div>

<!-- Pagination links and page numbers -->
{% if developers|length > 6 %} 
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endif %} 

{% endblock %}