{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if request.user.is_authenticated %}
    {% if developer.user == request.user %}
        <a href="{% url 'edit_developer' developer.id %}">Edit Profile</a>
    {% endif %}
{% endif %}

<div class="full-profile">

    <div class="full-profile-image">                    
        {% if developer.image %}
        <img src="{{ developer.image.url }}" alt="{{ developer.profile_name }}">
        {% else %}
        <img src="{{ MEDIA_URL }}no-image.jpg" alt="-- NO IMAGE --">
        {% endif %}
    </div>    


    <div class="full-profile-names">
        <div class="full-profile-name">
            <p>{{ developer.profile_name }}</p>
        </div>
        <div class="full-profile-category">
            <p>({{ developer.category.friendly_name }})</p>
        </div>
    </div>

    

    <div class="full-profile-description">{{ developer.description }}</div>   

    <!-- Buttons to Purchase the Access--> 
    {% if show_posts is False %}
        <div class="fixed-purchase-container">
            <div class="full-profile-price">
                <p>£{{ developer.price }}</p>
            </div>

            
            {% if request.user.is_authenticated %}
                {% if developer.user != request.user %}                
                    <div class="full-profile-purchase">
                        <form class="form" action="{% url 'add_to_cart' developer.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Purchase Access">
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">                
                        </form>
                {% endif %}
            {% else %}
                        <a href="{% url 'account_login' %}">Login to Access</a>
                    </div>        
            {% endif %}
        </div>  
    {% endif %}
    
        <div class="profile-posts"> 
            {% if developer.user == request.user %}
                 <a href="">Add a New Post</a>
            {% endif %}

            {% if posts %}            
                {% for post in posts %}
                    {% if developer.user is request.user %}
                        <a href="{% url '' %}">Edit/Delete Post</a>
                    {% endif %}
                    <div class="post-block">
                        <div class="post-title">
                            <p>{{ post.title }}</p>
                        </div>                    
                        {% if show_posts is True %}
                            <div class="post-image">                    
                                {% if post.image %}
                                <img src="{{ post.image.url }}" alt="{{ post.title }}">
                                {% else %}
                                <img src="{{ MEDIA_URL }}no-image.jpg" alt="-- NO IMAGE --">
                                {% endif %}
                            </div>                                                    
                            <div class="post-content">{{ post.content }}</div>                        
                        {% else %}
                            {% if request.user.is_authenticated %}                            
                                <h3>Purchase Access to view post content</h3>
                            {% else %}
                                <a href="{% url 'account_login' %}">Login to view or purchase access to post content</a>
                            {% endif %}
                        {% endif %}
                        <div class="post-date">
                            <p>- published: {{ post.publish_date }} -</p>
                        </div>     
                    </div>
                {% endfor %}  
            {% else %} 
                <h3>No Posts to Display</h3>
            {% endif %} 
        </div>

{% endblock %}