{% extends "base.html" %}
{% load static %}

{% block content %}
    <h2>Edit Post</h2>       
        <a href="{% url 'delete_post' post.id %}">Delete this Post</a>
        <div class="edit-post-form">
            <form method="POST" action="{% url 'edit_post' post.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-input">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <a href="{% url 'developer_profile' developer.id %}">Cancel Post Edit</a>
                <button type="submit">Update Post</button>
            </form>
        </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'developers/js/developers.js' %}"></script>
{% endblock %}