{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Shopping Cart</h2>
{% if cart_items %}
    {% for item in cart_items %}

        <img src="{{ item.product.image.url }}">
        <p><strong>{{ item.developer.profile_name }}</strong></p>
        <p>£{{ item.developer.price }}</p>
        <form class="form" action="{% url 'remove_from_cart' item.developer.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="X">
            <input type="hidden" name="redirect_url" value="{{ request.path }}">                
        </form>
        
    {% endfor %}

    <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
    
    <a href="{% url 'checkout' %}">
        <span>Secure Checkout</span>
        <span class="icon">
            <i class="fas fa-lock"></i>
        </span>
    </a>

{% else %} 

    <p>Your cart is empty.</p>
    <a href="{% url 'developers' %}">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span>Back to Developers</span>
    </a>

{% endif %}

{% endblock %}