{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid height">
    <div class="row justify-content-center h-100">
        {% if request.user.is_authenticated %}
            <div class="col-12 col-sm-6 col-xl-4 p-4 bg-primary text-white d-flex align-items-center">
                <div class="row-6">
                    <p class="fs-1 fw-bolder">Support <i class="fa-solid fa-unlock fa-sm"></i></p>
                    <p class="fw-bolder">Purchase access to Developer Profiles to view the Developer's exclusive content.</p>
                    <a class="btn btn-warning me-2 shadow fw-bolder" href="{% url 'developers' %}">Let's Go <i class="fa-solid fa-arrow-right fa-beat fa-sm"></i></a>  
                </div>  
            </div>  
            
            {% if is_developer is True %}
                <div class="col-12 col-sm-6 col-xl-4 p-4 bg-secondary text-white d-flex align-items-center">  
                    <div class="row-6">
                        <p class="fs-1 fw-bolder">Dev <i class="fa-solid fa-code fa-sm" style="col-smor: #ffffff;"></i></p>
                        <p class="fw-bolder">View your Developer Profile to share your exclusive content with Supporters</p>
                        <a class="btn btn-warning me-2 shadow fw-bolder" href="{% url 'developer_profile' "is_developer" %}">Let's Go <i class="fa-solid fa-arrow-right fa-beat fa-sm"></i></a>  
                    </div>  
                </div>    
            {% else %}
                <div class="col-12 col-sm-6 col-xl-4 p-4 bg-secondary text-white d-flex align-items-center">  
                    <div class="row-6">
                        <p class="fs-1 fw-bolder">Dev <i class="fa-solid fa-code fa-sm" style="col-smor: #ffffff;"></i></p>
                        <p class="fw-bolder">Create a Developer Profile to share your exclusive content with Supporters</p>
                        <a class="btn btn-warning me-2 shadow fw-bolder" href="{% url 'add_developer' %}">Let's Go <i class="fa-solid fa-arrow-right fa-beat fa-sm"></i></a>  
                    </div>  
                </div>
            {% endif %}

        {% else %}
            <div class="col-12 col-sm-6 col-xl-4 p-4 bg-primary text-white d-flex align-items-center">
                <div class="row-6">
                    <p class="my-2 fs-1 fw-bolder m-0">Support <i class="fa-solid fa-unlock fa-sm"></i></p>
                    <p class="my-2">Purchase access to Developer Profiles to view the Developer's exclusive content.</p>
                    <a class="my-2 btn btn-warning me-2 shadow fw-bolder" href="{% url 'account_login' %}">Let's Go <i class="fa-solid fa-arrow-right fa-beat fa-sm"></i></a>  
                </div>  
            </div>
            <div class="col-12 col-sm-6 col-xl-4 p-4 bg-secondary text-white d-flex align-items-center"> 
                <div class="row-6"> 
                    <p class="fs-1 fw-bolder">Dev <i class="fa-solid fa-code fa-sm" style="col-smor: #ffffff;"></i></p>
                    <p class="my-2">Create or view your Developer Profile to share your exclusive content with Supporters</p>
                    <a class="my-2 btn btn-warning me-2 shadow fw-bolder" href="{% url 'account_login' %}">Let's Go <i class="fa-solid fa-arrow-right fa-beat fa-sm"></i></a>  
                </div> 
            </div>    
        {% endif %}
    </div>
</div>


{% endblock %}