{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row align-items-center d-flex">
        {% if request.user.is_authenticated %}
            <div class="col-sm border-primary bg-primary p-1 text-decoration-none link-light">
                <p class="p-2 fs-1 fw-bolder m-0">Support <i class="fa-solid fa-unlock fa-sm"></i></p>
                <p class="p-2 fw-bolder">Purchase access to Developer Profiles to view the Developer's exclusive content.</p>
                <a class="btn btn-warning me-2 shadow m-1 fw-bolder" href="{% url 'developers' %}">Let's Go <i class="fa-solid fa-arrow-right fa-beat fa-sm"></i></a>  
            </div>  
            
            {% if is_developer is True %}
                <div class="col-sm border-primary bg-primary p-1 text-decoration-none link-light">  
                    <p class="p-2 fs-1 fw-bolder m-0">Dev <i class="fa-solid fa-code fa-sm" style="col-smor: #ffffff;"></i></p>
                    <p class="p-2 fw-bolder">View your Developer Profile to share your exclusive content with Supporters</p>
                    <a class="btn btn-warning me-2 shadow m-1 fw-bolder" href="{% url 'developer_profile' "is_developer" %}">Let's Go <i class="fa-solid fa-arrow-right fa-beat fa-sm"></i></a>  
                </div>    
            {% else %}
                <div class="col-sm border-primary bg-secondary p-1 text-decoration-none link-light">  
                    <p class="p-2  fs-1 fw-bolder m-0">Dev <i class="fa-solid fa-code fa-sm" style="col-smor: #ffffff;"></i></p>
                    <p class="p-2 fw-bolder">Create a Developer Profile to share your exclusive content with Supporters</p>
                    <a class="btn btn-warning me-2 shadow m-1 fw-bolder" href="{% url 'add_developer' %}">Let's Go <i class="fa-solid fa-arrow-right fa-beat fa-sm"></i></a>  
                </div>
            {% endif %}

        {% else %}
            <div class="col-sm border-primary bg-primary p-5 text-decoration-none link-light">
                <p class="p-2 fs-1 fw-bolder m-0">Support <i class="fa-solid fa-unlock fa-sm"></i></p>
                <p class="p-2 fw-bolder">Purchase access to Developer Profiles to view the Developer's exclusive content.</p>
                <a class="btn btn-warning me-2 shadow mx-4 fw-bolder" href="{% url 'account_login' %}">Let's Go <i class="fa-solid fa-arrow-right fa-beat fa-sm"></i></a>  
            </div>  
            <div class="col-sm border-primary bg-secondary p-5 text-decoration-none link-light">  
                <p class="p-2  fs-1 fw-bolder m-0">Dev <i class="fa-solid fa-code fa-sm" style="col-smor: #ffffff;"></i></p>
                <p class="p-2 fw-bolder">Create or view your Developer Profile to share your exclusive content with Supporters</p>
                <a class="btn btn-warning me-2 shadow mx-4 fw-bolder" href="{% url 'account_login' %}">Let's Go <i class="fa-solid fa-arrow-right fa-beat fa-sm"></i></a>  
            </div>    
        {% endif %}
    </div>
</div>
{% endblock %}