.drawer:hover .icon {
    color: #fff !important;
}

.dev-image {
    max-width: 250px;
    max-height: 250px;
    width:100%;
}

p {
    font-size:0.85rem;
}
@media (min-width: 1200px) {  
  p {
    font-size:1rem;
    }    
}

.height {
    height: 25vw;
}