{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/d642f04513.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>

    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>supportDev {% block extra_title %}{% endblock %}</title>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg sticky-top bg-light shadow">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">support<strong class="text-primary fs-4">Dev</strong></a>
                
                <button class="navbar-toggler drawer btn btn-outline-primary p-2 shadow m-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="text-primary icon fa-solid fa-code"></i>
                </button>
                
                <div class="collapse navbar-collapse justify-content-end gap-2" id="navbarNavAltMarkup">
                    <div class="navbar-nav">                    
                        <a class="btn btn-outline-success me-2 shadow m-1" href="{% url 'developers' %}">Explore Developers</a>
                        {% if request.user.is_authenticated %}                
                        <a class="btn btn-outline-primary me-2 shadow m-1" href="{% url 'developer_profile' "is_developer" %}">My Developer Profile</a>                              
                        <a class="btn btn-outline-primary me-2 shadow m-1" href="{% url 'user_account' %}">My Account</a>
                        
                        {% if request.user.is_superuser %}
                        <a class="btn btn-outline-primary me-2 shadow m-1" href="{% url 'admin:index' %}">Site Management</a>
                        {% endif %}
                        
                        {% if total %}
                            <a class="text-white btn btn-secondary me-2 m-1" href="{% url 'view_cart' %}">
                                <div>
                                    <i class="fas fa-shopping-bag fa-lg"></i>
                                    <p>
                                        {% if total %}
                                            £{{ total|floatformat:2 }}
                                        {% else %}
                                            £0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        {% endif %}          
                        
                        <div class="d-flex justify-content-center m-1">
                            <a class="btn btn-outline-secondary me-2 shadow" href="{% url 'contact_us' %}"><i class="fa-solid fa-envelope"></i></a>
                            <a class="text-white btn btn-danger btn-outline-danger me-2" href="{% url 'account_logout' %}"><i class="fa-solid fa-right-from-bracket"></i></a>
                        <div>

                    {% else %}
                        <a class="btn btn-outline-primary me-2 shadow m-1" href="{% url 'account_login' %}">Login</a>
                        <a class="btn btn-outline-primary me-2 shadow m-1" href="{% url 'account_signup' %}">Register</a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h1>
        {% block head_title %}
        {% endblock %}
    </h1>

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}
    
</body>
</html>
