{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/d642f04513.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>supportDev {% block extra_title %}{% endblock %}</title>

</head>
<body>
    <header>

        <div class="site-logo">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
                <h1>support<strong>Dev</strong></h1>
            </a>
        </div>
        
        <div class="navigation-bar">
            <ul>
                <li><a href="{% url 'developers' %}">Developer Profiles</a></li>

                {% if request.user.is_authenticated %}

                    {% if request.user.is_superuser %}
                        <li><a href="{% url 'admin:index' %}">Site Management</a></li>
                    {% else %}   
                        <li><a href="">My Developer Profile</a></li>
                        {% endif %}
                    <li><a href="{% url 'account_logout' %}">Logout</a></li>

                {% else %}

                    <li><a href="{% url 'account_signup' %}">Register</a></li>
                    <li><a href="{% url 'account_login' %}">Login</a></li>

                {% endif %}
            </ul>
        </div>

    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}
    
</body>
</html>
